body{
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm27-sasi-14-summer.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=301d1836b387208420966f133570ec5b");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vw;
    font-family: 'Bona Nova', serif;;
}

#navbar{
    position: fixed;
    background-color: lightgrey;
    height: 120px;
    width: 100%;
    right: 0;
    z-index: 3;
}

#logo{
    cursor: pointer;
    margin-left: 15px;
}

#navbar-text{
    margin: auto;
    font-weight: BOLD;
    
}

#jumbotron{
    height: 650px;
}

#jumbotron .img{
    position: relative;
    width: 100%;
    background: url("https://wallpaperaccess.com/full/1315769.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 640px;
    opacity: 0.7;
    top: -9px
}

.about{
    font-size: 23px;
    margin-top: 60px;
    text-indent: 20px;
}

#about-heading{
    text-align: center;
    font-size: 45px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    height: 60px;
    transition: all ease-in-out.2s;
    font-size: 18px;
}

#button:hover{
    background: rgb(204, 204, 13);
    border: 3px solid transparent;
    border-radius: 6px;
}


.footer{
    position: relative;
    box-shadow: 2px 2px 7px;
    margin-top: 60px;
    background-color: lightgrey;
    height: 150px;
}

#footer{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#copyright{
    margin-top: 30px;
}

#copy{
    position: absolute;
    margin-left: 70px;
}

.icons{
    position: absolute;
    margin-top: 100px;
}

.f-icons{
    padding: 20px;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.f-icons:hover{
    color: rgb(134, 134, 17);
}


.form{
    position: fixed;
    left: 37%;
    top: 15%;
    background-color: white;
    z-index: 3;
    width: 30%;
    height: 72%;
    box-shadow: 2px 2px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title{
    font-size: 25px;
    margin-top: 15px;
}

.times{
    position: absolute;
    right: 0;
    font-size: 27px;
}

.name{
    width: 400px;
    height: 50px;
}

.form-btn{
    border: 2px solid black;
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 120px;
    height: 40px;
    transition: all ease-in-out .2s;
    font-size: 20px;
    line-height: 0.1;
}

.form-btn:hover{
    background-color: rgb(204, 204, 13);
    color: white;
    border: 1px solid black;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    body{
        background: white;
    }

    #navbar{
        height: 60px;
    }
    
    #logo{
        width: 25px;
    }

    #navbar-text{
        font-size: 18px;
    }

    #jumbotron{
        height: 240px;
    }

    #jumbotron .img{
        background: url("https://wallpaperaccess.com/full/1315769.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        opacity: 0.8
    }
   
    .about{
        font-size: 17px;
        margin-top: 20px;
        text-indent: 20px;
    }
    #about-heading{
        font-size: 35px;
  }

  #button{
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    height: 50px;
    width: 125px;
    transition: all ease-in-out.2s;
    font-size: 12px;
   }

   .footer{
    height: 110px;
}

#footer{
    font-size: 15px;
}

#copyright{
    margin-top: 20px;
}


.icons{
    position: absolute;
    margin-top: 70px;
}

.f-icons{
    font-size: 17px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #navbar{
        height: 70px;
    }
    
    #logo{
        width: 29px;
    }
    
    #navbar-text{
        font-size: 34px;
    }
    .about{
        font-size: 19px;
    }

    #about-heading{
        font-size: 37px;
  }

  #button{
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    height: 52px;
    width: 200px;
    transition: all ease-in-out.2s;
    font-size: 16px;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #navbar{
        height: 80px;
    }
    
    #logo{
        width: 33px;
    }
    
    #navbar-text{
        font-size: 39px;
     
    }

    .about{
        font-size: 21px;
    }

    #about-heading{
        font-size: 40px;
  }

  #button{
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    height: 55px;
    width: 220px;
    transition: all ease-in-out.2s;
    font-size: 18px;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    body{
        background: white;
    }

    #navbar{
        height: 100px;
    }
    
    #logo{
        width: 38px;
    }
    
    #navbar-text{
        font-size: 44px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #navbar{
        height: 100px;
    }
    
    #logo{
        width: 40px;
    }
    
    #navbar-text{
        font-size: 47px;
    }
}