body{
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm27-sasi-14-summer.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=301d1836b387208420966f133570ec5b");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vw;
    font-family: 'Bona Nova', serif;;
}

#navbar{
    position: fixed;
    background-color: lightgrey;
    height: 120px;
    width: 100%;
    right: 0;
    z-index: 3;
}

#logo{
    cursor: pointer;
    margin-left: 15px;
}

#navbar-text{
    margin: auto;
    font-weight: BOLD;
    
}

#jumbotron{
    height: 650px;
}

#jumbotron .img{
    width: 100%;
    background: url("https://wallpaperaccess.com/full/1315769.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 640px;
    opacity: 0.8
}

.about{
    font-size: 23px;
    margin-top: 60px;
    text-indent: 20px;
}

#about-heading{
    text-align: center;
    font-size: 45px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    height: 60px;
    transition: all ease-in-out.5s;
    font-size: 18px;
}

#button:hover{
    background: rgb(204, 204, 13);
    border: 3px solid transparent;
    border-radius: 5px;
}










/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #navbar{
        height: 60px;
    }
    
    #logo{
        width: 25px;
    }
    
    #navbar-text{
        font-size: 29px;
    }
    .about{
        font-size: 17px;
    }
    #about-heading{
        font-size: 35px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #navbar{
        height: 70px;
    }
    
    #logo{
        width: 29px;
    }
    
    #navbar-text{
        font-size: 34px;
    }
    .about{
        font-size: 19px;
    }

    #about-heading{
        font-size: 37px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #navbar{
        height: 80px;
    }
    
    #logo{
        width: 33px;
    }
    
    #navbar-text{
        font-size: 39px;
     
    }

    .about{
        font-size: 21px;
    }

    #about-heading{
        font-size: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #navbar{
        height: 100px;
    }
    
    #logo{
        width: 38px;
    }
    
    #navbar-text{
        font-size: 44px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #navbar{
        height: 100px;
    }
    
    #logo{
        width: 40px;
    }
    
    #navbar-text{
        font-size: 47px;
    }
}